html{
    overflow-x:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    scroll-behavior:smooth;
}
body{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
/* ヘッダー部分 */
header{
    display:flex;
    width:100%;
    justify-content:center;
    border-bottom:solid 1px gray;
    padding:10px 0;
}
.header-left{
    display:flex;
    width:25%;
}
.header-left>i{
    margin:auto 10px;
    cursor:pointer;
    cursor:hand;
}
.kuizy{
    color:skyblue;
    font-weight:bold;
    font-size:27px;
}
.header-right{
    display:flex;
    float:right;
    width:25%;
}
.create-quiz-button{
    margin:0 0 0 auto;
    background-color:blue;
    color:white;
    border-radius:13px;
    padding:5px;
}
.search-button{
    display:flex;
    margin:0 0 0 auto;
    background-color:black;
    color:white;
    border-radius:13px;
    padding:5px;
}
.search-text{
    border-bottom:solid 1px purple;
}
/* オーバーレイ */
.overlay{
    display:flex;
    flex-direction:column;
    width:50%;
    height:100%;
    background-color: white;
    visibility:hidden;
    z-index:2;
    opacity:0;
}
.overlay>a{
    border-bottom:solid 2px gray;
    padding:10px;
    margin:0 10px;
}
.overlay>p{
    padding:10px;
    margin:0 auto;
}
.show-overlay{
    visibility:visible;
    opacity:1;
}
/* メニュー4項目 */
.menu-container{
    display:flex;
    margin:0 0 10px;
    background-color:rgb(240, 240, 240);
    border-bottom:solid 2px black;
}
.menu-container>a{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:25%;
    text-orientation:horizontal-tb;
    white-space:nowrap;
}
.menu-container>a+a{
    border-left:solid 2px black;
}
.menu-container>a>i{
    margin:10px auto;
}
.menu-container>a>div{
    text-orientation:horizontal-tb;
    text-align:center;
    font-size:0.5em;
}
.menu-black-text{
    color:black;
}
/* 対人ゲーム */
.pvp-game{
    border-bottom:solid 2px black;
    color:black;
    padding:10px 0;
}
.play-now{
    color:blue;
}
/* コンテンツのスタイル */
.content-container{
    min-width:375px;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0 auto;
}
/* コンテンツのタイトル */
.title{
    font-weight:bold;
    margin-top:10px;
    font-size:20px;
}
/* クイジーのアカウント */
.account{
    display:flex;
    align-items:center;
    width:min-content;
    margin:10px 0;
}
.account>img{
    border-radius:25px;
    height:50px;
    margin-right:10px;
}
.account>p{
    color:skyblue;
}
/* 東京タグ */
.tokyo{
    color:blue;
    border:solid 3px blue;
    width:max-content;
    padding:2px;
    font-weight:bold;
    border-radius:5px;
    margin-bottom:10px;
}
/* データの表示色 */
.red-color{
    color:red;
}
.gray-color{
    color:gray;
}
/* twitter facebook line */
.sns-container{
    display:flex;
    margin:10px auto;
}
.sns-container>a+a{
    margin-left:10px;
}
.skyblue-color{
    color:skyblue;
}
.darkblue-color{
    color:darkblue;
}
.lightgreen-color{
    color:lightgreen;
}
/* 質問 */
.question{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.question-title{
    padding:10px;
}
.question-title::after{
    height:2px;
    width:100px;
    background-color:green;
    display:block;
    content:'';
    margin-top:10px;
}
/* 選択肢 */
.choice{
    border:solid;
    border-width:1px;
    border-color:gray;
    padding:10px 0 10px 10px;
    box-sizing:border-box;
    margin:10px 0;
    border:solid 3px rgb(161, 159, 159);
    font-weight:bold;
    color:black;
}
.unclickable{
    pointer-events:none;/*一度答え選ぶとクリックできない*/
}
.correct-color{
    background-color:skyblue;
}
.uncorrect-color{
    background-color:orange;
}
.white-color{
    color:white;
}
/* 選択肢クリック後のテキストボックス */
.switch-display{
    display:none;
}
.answer{
    display:inline-block;
    border-bottom:solid 1px blue;
    margin-bottom:10px;
}
.show-explanation{
    margin-bottom:10px;
}
.text-box{
    background-color:rgb(240, 240, 240);
    padding:10px;
    margin:0 10px;
}
/*広告*/
.ad1,.ad2,.ad3{
    width:100%;
    height:100%;
    color:black;
    border-radius:solid 1px black;
    background-color:gray;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.ad-space{
    height:500px;
    width:500px;
    margin:100px auto;
}