body{
    display:flex;
    flex-direction:column;
    background-color:#f5f5f8;
    height:100vh;
    width:100vw;
}
/* ヘッダー */
header{
    position:absolute;
    display:flex;
    justify-content: space-between;
    top:0;
    left:0;
    height:7.5vh;
    width:100%;
    background-color: white;
}
.logo{
    height:100%;
}
.logo-week{
    margin:auto 0;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    margin-right:20px;
}
.logo-week>img{
    margin-right:50px;
}
.week{
    color:#97b9d1;
}
.button-container{
    margin:auto 10px auto 0;
    z-index:1;
}
.post-button{
    text-align: center;
    background-image: linear-gradient(90deg, #137DC4 40%, #38C7F9 100%);
    border-radius: 30px;
    height: 5vh;
    color: #fff;
    font-size: 20px;
    border:none; 
    cursor: pointer;
    box-shadow: 0 7px 10px #aecffa;
    width:250px;
}
/* メインコンテンツ */
.content-container{
    display:flex;
    width:90%;
    height:90%;
    margin:100px auto 0 auto;
}
/* 一段目 */
.first-container{
    width:50%;
}
.today-month-total-container{
    display:flex;
    height:25vh;
}
.today-container, .month-container, .total-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:calc(100%/3);
    text-align:center;
    background-color:white;
    border-radius:5px;
}
.today, .month, .total{
    color:#0f71bc;
}
.number{
    font-weight:bold;
}
.hour{
    color:#97b9d1;
}
.today-month-total-container>div+div{
    margin-left:3vh;
}
.bargraph-container{
    height:50vh;
    width:100%;
    border-radius:5px;
    background-color: white;
    margin-top:3vh;
}
.bargraph{
    height:100%;
    width:100%;
    border-radius:5px;
}
/* 二段目 */
.second-container{
    display:flex;
    width:50%;
    height:78vh;
}
.language-chart-container,.material-chart-container{
    background-color: white;
    display:flex;
    flex-direction: column;
    width:50%;
    border-radius:5px;
    margin-left:20px;
    height:100%;
    padding-left:20px;
}
.material, .language{
    padding-left:10px;
}
.piechart-title{
    padding:20px 0;
    font-weight:bold;
}
.piechart{
    width:100%;
    height:125px;
}
.language>li{
    float:left;
    margin:0 20px 20px 0;
}
.material>li{
    margin:0 20px 20px 0;
}
/* 月移動 */
.calender{
    display:flex;
    justify-content:center;
    height:7.5vh;
    text-align:middle;
    padding:auto;
    align-items:center;
}
.calender>div+div{
    margin-left:2px;
}
.calender-arrow{
    color:#97b9d1;
}
/* PC画面の時は非表示。画面下部に配置 */
.smartphone-button-container{
    margin:0 auto;
    display:none;
    z-index:10000;
}
.smartphone-button{
    text-align: center;
    background-image: linear-gradient(90deg, #137DC4 40%, #38C7F9 100%);
    border-radius: 30px;
    height: 5vh;
    color: #fff;
    font-size: 20px;
    border:none; 
    cursor: pointer;
    box-shadow: 0 7px 10px #aecffa;
    width:calc(100vw - 40px);
}
/* オーバーレイ */
#fullOverlay{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(100, 100, 100, .8);
    z-index: 10;
}
.overlay{
    position:absolute;
    left:50%;
    top:50%;
    width:70vw;
    height:70vh;
    transform:translate(-50%,-50%);
    background-color:white;
    border-radius:20px;
}
.form{
    position:absolute;
    left:50%;
    top:50%;
    width:85%;
    height:85%;
    transform:translate(-50%,-50%);
    display:flex;
    margin-top:5vh;
}
.form-left{
    box-sizing:border-box;
    width:45%;
    height:50vh;
    margin-right:10%;
}
.study-content-container, .comment-container{
    margin-top:5vh;
}
.study-content-container, .language-container{
    box-sizing:border-box;
}
.form-right{
    box-sizing:border-box;
    width:45%;
    height:50vh;
}
/* 中途半端な位置で折り返さない */
.form-left>div>label{
    white-space:nowrap;
    background-color:rgb(215,215,215);
    border-radius:10px;
    margin:0 8px 8px 0;
    line-height:2;
}
.share-container{
    margin:10px 0 22px 0;
}
.share-container>label{
    align-items:center;
    display:flex;
}
/* デフォルトのチェックマーク消してる */
.form-left>div>label>input, .form-right>div>label>input{
    display:none;
}
.color-blue{
    color:blue;
}
.textbox{
    background-color:rgb(221, 221, 221);
    border-radius:5px;
    width:100%;
    box-sizing:border-box;
    resize:none;
    border: 1px gray solid;
}
.twitter-comment{
    height:30vh;
}
.exit{
    z-index:5;
    position:absolute;
    right:10px;
    top:10px;
    border-radius:100px;
    border:solid 1px gray;
    padding:10px;
    width:40px;
    height:40px;
    cursor:pointer;
}
.overlay-button-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:10vh;
    width:70vw;
    position:absolute;
    top:60vh;
    left:0vw;
} 
.animation-filter{
    width:70vw;
    height:70vh;
    background-color:rgb(182, 180, 180);
    z-index:1000000;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:20px;
}
.animation-container{
    position: absolute;
    top:50%;
    left:50%;
    justify-content: center;
    align-items:center;
    transform:translate(-50%,-50%);
}
.animation-container>div+div{
    margin-top:3em
}
.animation{
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    z-index:15;
    margin:0 auto;
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
@media screen and (max-width:479px){
    html{
        height:100vh;
        width:100vw;
    }
    body{
        box-sizing:border-box;
        width:100vw;
        height:calc(100vh - 40px);
    }
    .header{
        width:100%;
        height:9.27536vh;
        position:fixed;
    }
    .button-container{
        display:none;
    }
    .content-container{
        display:flex;
        flex-direction:column;
        margin:84px auto 20px auto;
        box-sizing:border-box;
        height:100%;
    }
    .content-container>div+div{
        margin-top:16px;
    }
    .first-container{
        width:100%;
    }
    .today-month-total-container{
        display:flex;
        height:unset;
        width:100%;
    }
    .bargraph-container{
        height:100px;
        /* 実際にグラフいれてから高さ決める */
    }
    .second-container{
        width:100%;
        height:100px;
        /* 実際にグラフいれてから高さ決める */
    }
    .language-chart-container{
        height:100px;
        order:1;
        margin-left:16px;
        /* 実際にグラフいれてから高さ決める */
    }
    .material-chart-container{
        height:100px;
        order:0;
        margin-left:0;
        /* 実際にグラフいれてから高さ決める */
    }
    .overlay{
        position:relative;
        top:61.013px;
        left:0;
        transform:translate(0,0);
        width:100vw;
        height:calc(100% - 61.013px);
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }
    .form{
        left:0;
        top:0;
        display:flex;
        flex-direction:column;
        box-sizing:border-box;
        width:100vw;
        transform:translate(0,0);
    }
    .form-left, .form-right{
        margin:0 auto;
        width:calc(100% - 40px);
    }
    .form-left>div, .form-right>div{
        width:calc(100vw - 40px);
    }
    .study-content-container, .comment-container{
        margin-top:0;
    }
    .hour-container{
        margin:24px 0 10px 0;
    }
    .form-left>div>div{
        margin:24px 0 10px 0;
    }
    .smartphone-button-container{
        display:flex;
        z-index:10000;
    }
    .comment-container{
        margin-top:24px;
    }
    .twitter-comment{
        height:10vh;
        margin-top:10px;
    }
    /* 位置調整めんどくさいため位置が不変のsmartphone-button-containerをずっと表示。ボタンの役割はjsでidを変えて対応 */
    .overlay-button-container{
        display:none;
    }
    .animation-filter{
        position:absolute;
        top:60px;
        left:0;
        transform:translate(0,0);
        width:100vw;
        height:calc(100vh - 60px);
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
    }
}